.c-admin-content__header{
  height: 5rem;
  border-bottom: 0.2rem solid $accent;
  padding-top: 1rem;
  background: $white;
  position: relative;
  z-index: 9;
}

.c-breadcrumb{
  background: $lightest-gray;
  border-radius: $radius;
  border: 0.2rem solid $lightest-gray;
  padding: 0.4rem 2.8rem 0.4rem 1rem;
  margin-right: 0.6rem;
  @include bold;
  font-size: 1.2rem;
  color: $secondary;
  display: inline-block;
  position: relative;
  @include transition(all 0.2s ease);

  &:hover{
    border-color: $light-gray;
  }

  a:hover{
    svg{
      path{
        fill: $dark-gray;
      }
    }
  }

  svg{
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;

    path{
      fill: $gray;
      @include transition(all 0.1s ease);
    }
  }
}
