.o-assessment-container{
  @include main-container;
  width: 100%;
  margin: 1rem auto;
}

.o-admin-container{
  height: 100%;
}

.o-admin-container--preview{
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  @include transition(all 0.5s ease);

  &.is-open{
    left: 0;
  }
}

.o-sidebar{
  float: left;
  width: 35rem;
  height: 100%;
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
  z-index: 10;
  position: relative;
}

.o-sidebar--preview{
  opacity: 0;
}

.o-admin-content{
  height: 100%;
  padding: 0 2rem 0 37rem;
}
